/* ===== footer ===== */

@if 1 {
	.footer {
		padding: 8% 0px 0px 0px;
		color: #fff;
		font-size: 14px;
		background: url(../img/bg3.svg) no-repeat top left 0px/ 100%;
	}

	@media (min-width: 1200px) {
		.footer {
			padding: 100px 0px 0px 0px;
		}
	}

	.footer__col {
		margin-bottom: 15px;
	}

	.footer__col--one {
		margin-bottom: 20px;
		text-align: center;
	}

	@media (min-width: 480px) {
		.footer__col--one {
			display: flex;
			align-items: center;
			text-align: left;
		}
	}

	@media (min-width: 768px) {
		.footer__col--one {
			flex-direction: column;
			align-items: start;
		}
	}

	.footer__logo {
		position: relative;
		display: none;
	}

	@media (min-width: 1200px) {
		.footer__logo {
			display: block;
			margin-bottom: 30px;
		}
	}

	.footer__socials {
		margin-bottom: 20px;
	}

	.socials ul {
		display: flex;
		justify-content: center;
	}

	@media (min-width: 480px) {
		.footer__socials {
			margin-bottom: 0px;
			margin-right: 10px;
			width: 50%;
		}

		.socials ul {
			justify-content: flex-start;
		}
	}

	@media (min-width: 768px) {
		.footer__socials {
			width: 100%;
			margin-bottom: 30px;
		}
	}

	.socials li:not(:last-child) {
		margin-right: 20px;
	}

	@media (min-width: 768px) {
		.socials li:not(:last-child) {
			margin-right: 5px;
		}
	}

	@media (min-width: 1200px) {
		.socials li:not(:last-child) {
			margin-right: 20px;
		}
	}

	.socials a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		font-size: 24px;
		color: $color-hover;
		border-radius: 50%;
		transition: .3s ease 0s;
		background: linear-gradient(104.98deg, #6266E0 0%, #7579FF 100%);
		box-shadow: -12px -12px 24px #7D82FF, 12px 12px 24px #5D60D4;
	}

	@media (pointer: fine),
	(min-width:0\0) {
		.socials a:hover {
			color: $color-primary;
			background: $color-hover;
		}
	}

	.socials a:active {
		background-color: $color-active;
		color: #fff;
	}


	.footer__mail {
		font-weight: 500;
		color: $color-hover;
	}

	@media (min-width: 768px) {
		.footer__mail {
			font-size: 18px;
		}

		.footer__mail span {
			display: none;
		}
	}

	@media (min-width: 1200px) {
		.footer__mail span {
			display: inline;
		}
	}

	.footer__title {
		margin-bottom: 15px;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
	}

	@media (min-width: 480px) {
		.footer__title {
			font-size: 16px;
		}
	}

	@media (min-width: 768px) {
		.footer__title {
			font-size: 18px;
		}
	}

	.footer__menu li {
		margin-bottom: 14px;
	}

	.footer__menu li:last-child {
		margin: 0px;
	}

	.footer__bottom {
		box-shadow: -12px -12px 24px #7D82FF, 12px 12px 24px #5D60D4;
	}

	.copy {
		padding: 20px 0px 30px 0px;
		text-align: center;
	}
	.copy-xl,
	.copy-md {
		display: none;
	}

	.footer__brand {
		text-align: center;
	}

	.footer__brand img {
		margin: 0px 4px 10px 0px;
		width: 90px;
	}

	@media (min-width: 480px) {
		.footer__brand img {
			width: 95px;
			margin: 0px 4px 10px 0px;
		}
	}

	@media (min-width: 768px) {
		.footer__brand {
			padding: 5px 0px 5px 0px;
		}
		.footer__brand img {
			width: 100px;
			margin: 0px 16px 0px 0px;
		}
		.copy {
			display: none;
		}
		.copy-md {
			display: block;
			margin-top: auto;
		}
	}

	@media (min-width: 1200px) {
		.footer__row {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
		}
		.copy-md {
			display: none;
		}
		.copy-xl {
			display: block;
		}
	}
}


/* ===== up ===== */

@if 1 {
	.btn_up {
		position: fixed;
		right: 20px;
		bottom: 20px;
		z-index: 5;
		display: none;
		width: 30px;
		height: 30px;
		border: 1px solid rgb(236, 188, 56);
		border-radius: 5px;
		background-color: #72635c;
		transition: .1s ease 0s;
	}

	.btn_up.show {
		display: block;
	}

	.icon_up {
		color: #fff;
		width: 17px;
		height: 17px;
		vertical-align: middle;
		transform: rotate(90deg);
	}

	@media (pointer: fine),
	(min-width:0\0) {
		.btn_up:hover {
			background-color: #b3846e;
		}
	}
}