/* ===== head ===== */

@if 1 {
  .head {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .head.active {
    background: linear-gradient(104.98deg, #6266E0 0%, #7579FF 100%);
    box-shadow: -12px -12px 24px #7D82FF, 12px 12px 24px #5D60D4;
  }

  @media (min-width: 768px) {
    .head {
      height: 80px;
    }
  }

  .head__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo {
    position: relative;
    margin-right: 20px;
  }

  .head.active .logo {
    display: none;
  }

  @media (min-width: 768px) {
    .head.active .logo {
      display: block;
    }
  }

  .logo__img-active {
    display: none;
  }

  .head.active .logo__img {
    display: none;
  }

  .head.active .logo__img-active {
    display: block;
  }

  .logo__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 1200px) {
    .logo__img {
      width: 190px;
      height: 44px;
    }
  }

}





/*  menu-drop  mobile  */

@if 1 {
  .navbar {
    position: fixed;
    z-index: 3;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
    transform: translatex(-130%);
    background-color: #6D71F9;
    transition: .3s ease 0s;
  }

  .navbar.active {
    transform: translatex(0px);
  }

  .navbar__body {
    width: 100%;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }

  @media (min-width: 768px) {

    .navbar {
      top: 80px;
      height: auto;
      padding-bottom: 12%;
      background: url(../img/bg.svg) no-repeat bottom / 100%;
    }
  }


  @media (min-width: 1200px) {
    .navbar {
      display: none;
    }
  }

  .menu-mobile li {
    position: relative;
    transition: .2s ease 0s;
  }

  .menu-mobile a {
    display: inline-block;
    padding: 10px 0px;
  }

  .menu-mobile a[aria-expanded="true"] {
    color: #5CDEDA;
  }

  .menu-mobile__arrow {
    position: absolute;
    right: 8px;
    top: 25px;
    width: 12px;
    height: 2px;
    background-color: #5CDEDA;
  }

  .menu-mobile__arrow:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 12px;
    height: 2px;
    background-color: #5CDEDA;
    transform: rotate(90deg);
    transition: .2s ease 0s;
  }

  .menu-mobile__arrow.active:after {
    transform: rotate(0deg);
  }


  /* ===== 2 level ===== */

  .menu-mobile_drop {
    display: none;
    font-size: 16px;
    line-height: 26px;
  }

  .menu-mobile_drop.show {
    display: block;
  }

  .menu-mobile_drop li {
    position: relative;
  }

  .menu-mobile_drop a {
    padding-left: 30px;
  }


  @media (pointer: fine),
  (min-width:0\0) {
    .menu-mobile>li:hover {
      // color: #020eb9;
    }

    .menu-mobile li:hover>.menu-mobile_drop {
      display: block;
    }

    .menu-mobile li:hover>.menu__arrow::after {
      transform: rotate(0deg);
    }

    .menu-mobile_drop>li:hover {
      // color: #020eb9;
      // background-color: #8a8a8a;
    }
  }
}



/*  menu-drop  desktop  */

@if 1 {
  .navbox {
    display: none;
  }

  @media (min-width: 1200px) {
    .navbox {
      display: block;
    }

    .menu {
      display: flex;
      font-weight: 400;
    }

    .menu li {
      position: relative;
      padding-right: 20px;
      // width: 150px;
      transition: .2s ease 0s;
    }

    .menu>li:not(:first-child) {
      margin-left: 30px;
    }

    .menu a {
      display: inline-block;
      padding: 10px 0px;
    }


    .menu__arrow {
      position: absolute;
      right: 2px;
      top: 20px;
      width: 8px;
      height: 8px;
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      transition: .1s ease 0s;
      transform: rotate(-45deg);
    }

    .menu__arrow.active {
      transform: rotate(135deg);
    }


    /* ===== 2 level ===== */

    .menu_drop {
      display: none;
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0px;
      /* width: 100%; */
      color: #20242d;
      // background-color: #fff;
    }

    .menu_drop.show {
      display: block;
    }

    .menu_drop li {
      position: relative;
      padding-left: 10px;
    }

    .menu_drop a {
      white-space: nowrap;
    }


    @media (pointer: fine),
    (min-width:0\0) {
      .menu>li:hover {
        color: #6D71F9;
      }

      .menu li:hover>.menu_drop {
        display: block;
      }

      .menu li:hover>.menu__arrow {
        transform: rotate(135deg);
      }

      .menu_drop>li:hover {
        color: #020eb9;
        background-color: #9498ff;
      }
    }
  }
}



/* ===== burger ====== */

@if 1 {
  .burger {
    position: relative;
    z-index: 3;
    display: inline-block;
    width: 24px;
    height: 16px;
  }

  @media (min-width: 1200px) {
    .wrap__burger {
      display: none;
    }

    .burger {
      display: none;
    }
  }

  .burger::before,
  .burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6D71F9;
    transition: .3s ease 0s;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger.active::before {
    top: 7px;
    background-color: #5CDEDA;
    transform: rotate(45deg);
  }

  .burger.active::after {
    bottom: 7px;
    background-color: #5CDEDA;
    transform: rotate(-45deg);
  }

  .burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 7px;
    background-color: #6D71F9;
    transition: .3s ease 0s;
  }

  .burger.active span {
    transform: scale(0);
  }
}



/* ===== lang ===== */
  
@if 1 {

  .lang,
  .lang__link {
    height: 36px;
    line-height: 34px;
    border: 2px solid;
    border-radius: 20px;
  }

  .lang {
    position: relative;
    display: none;
    width: 123px;
    font-size: 16px;
    color: #B8B9D0;
    border-color: #F5F5F8;
  }

  @media (min-width: 480px) {
    .lang {
      display: block;
    }
  }

  .lang__link {
    transition: .2s;
    position: absolute;
    top: -2px;
    padding: 0 19px;
    border-color: transparent;
  }

  .lang__link:first-child {
    left: -2px;
  }

  .lang__link:last-child {
    right: -2px;
  }

  .lang__link.active {
    color: #2A2929;
    border-color: #6D71F9;
  }


  .head.active .lang {
    display: block;
    color: #fff;
    border-color: rgba($color: #fff, $alpha: .1);
  }

  .head.active .lang__link.active {
    color: #5CDEDA;
    border-color: #5CDEDA;
  }

  @media (pointer: fine),
  (min-width:0\0) {
    .lang__link:not(.active):hover {
      color: #2A2929;
      border-color: #5CDEDA;
    }
  }
}


.head.active .user-link {
  color: #5CDEDA;
  border-color: #5CDEDA;
}

.user-link {
  display: none;
  line-height: 38px;
}

@media (min-width: 768px) {
  .user-link {
    display: block;
  }

  .user-link-mob {
    display: none;
  }
}
