
/* ====  modal ===== */

.hidden {
  display: none
}

.no-scroll {
  overflow-y: auto !important;
}

.has-dialog {
  overflow: hidden;
}


/* modal backdrop */

.dialog-backdrop {
  display: none;
  position: fixed;
  z-index: 100;
  overflow-y: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
}

.dialog-backdrop.active {
  display: block;
}

/* modal window */

.default_dialog {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 10px;
  width: calc(100% - (15px * 2));
}

@media (min-width: 490px) {
  .default_dialog {
    width: calc(490px - (15px * 2));
  }
}

@media (min-width: 768px) {
  .default_dialog {
    top: 10%;
  }
}

.modal {
  padding: 15px;
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.modal__btn-close {
  position: absolute;
  top: -50px;
  right: 0px;
  width: 50px;
  height: 50px;
  background-color: #4976f6;
}

.modal__icon-close {
  width: 14px;
  height: 14px;
  color: #ffffff;
}

.title_2--modal {
  font-size: 25px;
}

@media (min-width: 400px) {
  .title_2--modal {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  .modal {
    padding: 40px;
  }

  .modal__btn-close {
    top: 0px;
    right: -70px;
    width: 70px;
    height: 70px;
  }
}

.modal__text {
  margin-bottom: 30px;
}

.form__input--modal {
  margin-bottom: 20px;
  border: 2px solid #eaeaea;
  background-color: #f7f7f7;
}

.form__input--modal:focus {
  background-color: #f7f7f7;
  border-color: #4976f6;
}

.form__input--modal:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 70px #f7f7f7 inset;
  -webkit-text-fill-color: #70737a;
}

.form__textarea {
  height: 90px;
  padding: 16px 20px;
}