// @import "../vendor/swiper";
// @import "../vendor/baguetteBox";

// ===== jquery ===== 

@import "../vendor/slick";
@import "../lib/slick-myTheme";
// @import "../vendor/slick-theme";
// @import "../vendor/lightgallery";


// === animation === 

// @import "../vendor/animate";
// @import "../vendor/aos-2";
// @import "../vendor/aos-next";
// @import "../lib/animate/animate";
// @import "animate";


@import "modal";

@import "var";
@import "mixin";
@import "fonts";
@import "rezet";
@import "icons";
@import "grid";
@import "global";
@import "head";


/* ===== index ===== */

@if 1 {
  .index {
    overflow: hidden;
  }

  .index__wrap {
    position: relative;
    z-index: 2;
    filter: drop-shadow(0px 18px 18px rgba(109, 113, 249, 0.4));
  }

  .index__top {
    padding: 30px 0px 10% 0px;
    text-align: center;
    background: url(../img/w-bg9.png) no-repeat, url(../img/bg.svg);
    background-position: top 150px right 25%, bottom left;
    background-size: 250%, 100% auto;
  }


  .index__title {
    margin-bottom: 17px;
  }

  .index__text {
    color: #fff;
    margin-bottom: 175px;
  }

  .index__text span {
    color: #5CDEDA;
  }

  @media (min-width: 480px) {
    .index__top {
      padding: 40px 0px 5% 0px;
    }

    .index__text {
      margin-bottom: 240px;
    }
  }


  @media (min-width: 768px) {
    .index__top {
      padding: 100px 0px 9% 0px;
      text-align: left;
      background-position: left -22vw top, bottom left;
      background-size: 150%, 100% auto;
    }

    .index__text {
      margin-bottom: 60px;
    }
  }

  @media (min-width: 1200px) {
    .index__top {
      padding: 190px 0px 7% 0px;
      background-position: center right, bottom right;
      background-size: 100% auto;
    }
  }

  @media (min-width: 1700px) {
    .index__top {
      background-position: bottom right, bottom right;
    }
  }

  .form_1 {
    margin-bottom: 15px;
  }

  .input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    color: #fff;
    background-color: rgba(#fff, .1);
    // box-shadow: -12px -12px 24px #7D82FF, 12px 12px 24px #5D60D4;
    border-radius: 30px;
  }

  .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;
    color: #6D71F9;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0px 0px 12px #B5FFFD;
    border: 4px solid transparent;
    border-radius: 25px;
    background-image: linear-gradient(180deg, #5CDEDA 0%, #2FFF6A 50%, #5CDEDA 100%), linear-gradient(0deg, #2FFF6A 0%, #5CDEDA 50%, #2FFF6A 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0px 12px 24px rgba(47, 255, 106, .6);
    background-size: 100% 200%;
    transition: .5s;
  }

  @media (pointer: fine),
  (min-width:0\0) {
    .btn-submit:hover {
      background-position: 0 100%;
    }
  }

  .btn-submit:active {
    color: #fff;
  }

  .index__btn-img {
    display: none;
  }


  @media (min-width: 480px) {
    .form_1 {
      display: flex;
      margin-bottom: 40px;
    }

    .input {
      margin-bottom: 0;
    }

    .index__btn-submit {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }

    .index__btn-img {
      display: block;
    }

    .index__btn-submit span {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .input {
      height: 60px;
    }

    .index__btn-img {
      display: none;
    }

    .btn-submit {
      flex-shrink: 0;
      width: 25%;
      height: 60px;
      margin-left: 20px;
      border-radius: 30px;
    }

    .index__btn-submit span {
      display: inline;
    }
  }

  .index__item {
    position: relative;
    display: block;
    padding: 10px 15px 10px 60px;
    text-align: center;
    min-height: 60px;
    margin-bottom: 15px;
    color: #fff;
    border: 4px solid transparent;
    border-radius: 30px 5px 5px 30px;
    background: linear-gradient(104.98deg, #6266E0 0%, #7579FF 100%);
    background-origin: border-box;
    box-shadow: -12px -12px 24px #7D82FF, 12px 12px 24px #5D60D4;
  }

  @media (pointer: fine),
  (min-width:0\0) {
    .index__item:hover {
      color: #6D71F9;
      background-image: linear-gradient(180deg, #5CDEDA 0%, #2FFF6A 100%), linear-gradient(0deg, #5CDEDA 0%, #2FFF6A 100%);
      background-clip: padding-box, border-box;
    }

    .index__item:hover .index-item__text {
      opacity: 0;
    }

    .index__item:hover .index-item__title::after {
      content: "";
      display: block;
      width: 15px;
      height: 20px;
      margin-left: 15px;
      background-image: url(../img/icons/icon.svg);
    }
  }

  .index__item:active {}



  .index__item span {
    color: #5CDEDA;
  }

  .index-item__img {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 60px;
    height: 60px;
    transform: translate(0%, -50%);
    border: 4px solid #6D71F9;
    border-radius: 50%;
  }

  .index-item__title {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
  }

  .index-item__text {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: 480px) {
    .index__item {
      padding: 0px 15px 15px 15px;
      margin-bottom: 40px;
      border-radius: 5px;
    }

    .index-item__img {
      position: static;
      margin-top: -26px;
      margin-bottom: 4px;
      transform: translate(0);
    }

    .index-item__title {
      margin-bottom: 8px;
    }
  }

  @media (min-width: 768px) {
    .index-item__img {
      margin-bottom: 14px;
    }
  }


  .index__pin {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #6D71F9;
  }

  .index-pin__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: $color-hover;
    background: $color-primary;
    box-shadow: 0px 12px 12px #5D60D4;
    border-radius: 50%;
    transition: .2s ease 0s;
  }

  .index-pin__icon {
    font-size: 30px;
  }

  @media (pointer: fine),
  (min-width:0\0) {
    .index-pin__btn:hover {
      background-color: #5CDEDA;
      color: #6D71F9;
    }

    .index-pin__btn:hover .index-pin__icon::before {
      color: #6D71F9;
    }
  }


  @media (min-width: 768px) {
    .index__pin {
      width: 90px;
      height: 90px;
    }

    .index-pin__btn {
      width: 60px;
      height: 60px;
    }
  }



  .map {
    width: 100%;
    height: 480px;
    margin-top: -400px;
    transition: .9s ease 0s;
  }

  .map:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(245, 245, 248, 0) 70%, #F5F5F8 100%);
    pointer-events: none;
  }

  @media (min-width: 480px) {
    .map {
      height: 580px;
      margin-top: -470px;
    }
  }

  @media (min-width: 768px) {
    .map {
      height: 680px;
      margin-top: -550px;
    }
  }

  @media (min-width: 1200px) {
    .map {
      height: 880px;
      margin-top: -700px;
    }
  }

  .map.active {
    margin-top: -10%;
  }

  .htmlMarker {
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 40px;
    padding-bottom: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    background-image: url(../img/pin1.svg);
    cursor: pointer;
  }



}



/* ===== brand ===== */

@if 1 {
  .brand {
    padding-bottom: 60px;
  }

  .brand__container {
    position: relative;
    padding: 0;
  }

  .brand__title {
    margin-bottom: 30px;
    text-align: center;
  }

  .brand__slider-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: $color-primary;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 10px;
  }

  .brand__list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: dense;
    padding: 20px 20px;
  }

  .brand__list li {
    position: relative;
    border-radius: 5px;
    background: linear-gradient(109.5deg, #EEEEF1 6.26%, #FFFFFF 93.74%);
    box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #E9E9EC;
  }

  .brand__list a {
    display: block;
  }

  .brand__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .brand__info {
    position: absolute;
    top: 0%;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 16px 5px 20px 20px;
    color: #fff;
    opacity: 0;
    border-radius: 5px;
    background-image: linear-gradient(104.98deg, #6266E0 0%, #7579FF 100%);
    transition: .2s ease 0s;
  }

  @media (pointer: fine),
  (min-width:0\0) {
    .brand__info:hover {
      opacity: 1;
    }
  }

  .brand__list li:nth-child(2) {
    padding-bottom: 60%;
  }

  .brand__list li:nth-child(3) {
    grid-column: span 2;
  }

  @media (min-width: 480px) {
    .brand__list {
      grid-template-columns: repeat(3, 1fr);
    }

    .brand__list li:nth-child(3) {
      grid-column: span 1;
    }

    .brand__list li:nth-child(4) {
      grid-column: span 2;
    }

    .brand__list li:nth-child(5) {
      grid-row: span 2;
    }
  }

  @media (min-width: 768px) {
    .brand__list {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

    .brand__list li:nth-child(1) {
      grid-row: span 2;
    }

    .brand__list li:nth-child(3) {
      grid-row: span 1;
    }

    .brand__list li:nth-child(4) {
      grid-column: span 1;
    }

    .brand__list li:nth-child(5) {
      grid-row: span 1;
    }

    .brand__list li:nth-child(7) {
      grid-row: span 2;
    }

    .brand__list li:nth-child(9) {
      grid-column: span 2;
    }
  }

  @media (min-width: 1200px) {
    .brand__list {
      grid-template-columns: repeat(5, 1fr);
    }

    .brand__list li:nth-child(1) {
      grid-row: span 1;
    }

    .brand__list li:nth-child(4) {
      grid-column: span 2;
    }

    .brand__list li:nth-child(5) {
      grid-column: span 2;
    }

    .brand__list li:nth-child(6) {
      grid-row: span 2;
    }

    .brand__list li:nth-child(7) {
      grid-row: span 1;
    }

    .brand__list li:nth-child(9) {
      grid-column: span 1;
    }
  }

  @media (min-width: 1380px) {
    .brand__slider-control {
      justify-content: center;
    }

    .btn-slider {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .brand__prev {
      left: -30px;

    }

    .brand__next {
      right: -30px;
    }
  }

  @media (pointer: fine),
  (min-width:0\0) {
    .btn-slider:hover {
      color: $color-hover;
    }
  }

  .btn-slider:active {
    color: $color-active;
  }

  .btn-slider.slick-disabled {
    color: $color-disable;
    cursor: default;
  }

}



/* ===== catalog ===== */

@if 1 {
  .shop__top {
    position: relative;
    padding: 20px 0px 5% 0px;
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
  }

  .shop__title {
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }

  .shop__input {
    font-size: 14px;
  }

  .input__wrap {
    display: flex;
    margin-bottom: 40px;
  }

  .shop__btn-submit {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .shop__btn-submit span {
    display: none;
  }

  @media (pointer: fine),
  (min-width:0\0) {
    .shop__input:hover {
      color: #2A2929;
      background-color: #fff;
    }
  }

  .shop__input:focus {
    color: #2A2929;
    background-color: #fff;
  }



  .filter {
    display: none;
    font-size: 14px;
  }

  .filter__row {
    margin-bottom: 20px;
  }

  .icon-down {
    display: none;
  }

  .shop-pin__btn.active .icon-down {
    display: block;
  }

  .shop-pin__btn.active .icon-equalizer {
    display: none;
  }





  .filter__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
    color: $color-hover;
  }

  @media (min-width: 480px) {
    .filter {
      font-size: 16px;
    }

    .filter__row {
      margin-bottom: 0px;
    }

    .filter__title br {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .shop__btn-submit {
      width: 166px;
      height: 60px;
    }

    .shop__btn-submit img {
      display: none;
    }

    .shop__btn-submit span {
      display: block;
    }

    .filter {
      font-size: 18px;
    }
  }

  @media (min-width: 1200px) {
    .shop {
      padding: 20px 0px 2% 0px;
    }

    .shop__btn-submit {
      width: 232px;
    }

    .filter {
      display: block;
    }

    .shop__pin {
      display: none;
    }
  }
}



// ==== select ==== 

@if 1 {

  .select-wrap {
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .select-wrap:after,
  .select-custom {
    z-index: 3;
  }

  // arrow
  .select-wrap:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    border: 5px solid transparent;
    border-top-color: #fff;
    pointer-events: none;
  }

  .select-wrap.focus:after,
  .select-wrap.isActive:after,
  .select-wrap.oupen:after {
    border-top-color: $color-hover;
  }

  .select-wrap.isActive:after,
  .select-wrap.oupen:after {
    transform: rotate(180deg) translateY(5px);
  }

  .select,
  .select-custom {
    width: 100%;
    height: 50px;
  }

  .select-custom {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .select,
  .select-custom__btn {
    padding: 0px 20px 0px 30px;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
  }

  .select {
    position: relative;
    display: block;
    background-color: rgba(#fff, .1);
    box-shadow: -12px -12px 24px #7D82FF, 12px 12px 24px #5D60D4;
    appearance: none;
  }

  .select-custom__btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #7D82FF;
    cursor: pointer;
  }

  .select-custom__btn::before,
  .select-custom__option::before {
    margin-right: 10px;
  }

  .select:focus,
  .select-custom.isActive .select-custom__btn {
    color: #2A2929;
    background-color: #fff;
    border-color: $color-hover;
    transition: .2s ease 0s;
  }

  .select:invalid,
  .select-custom__btn.invalid {
    color: rgba(255, 255, 255, 0.5);
  }

  .select:focus:invalid,
  .select-custom.isActive .select-custom__btn.invalid {
    color: #B8B9D0;
  }

  .select option {
    color: #2A2929;
  }

  // ===== state =====

  @media (pointer: fine),
  (min-width:0\0) {
    .select-wrap:hover:after {
      border-top-color: $color-hover;
    }

    .select:hover,
    .select-wrap:hover .select-custom__btn {
      color: #2A2929;
      background-color: #fff;
      border: 2px solid #5CDEDA;
      transition: .2s ease 0s;
    }

    .select-wrap:hover .select:invalid,
    .select-wrap:hover .invalid {
      color: #B8B9D0;
    }

    .select-custom {
      display: block;
    }

    .select:focus+.select-custom {
      display: none;
    }
  }

  @media (min-width: 480px) {
    .select-wrap {
      font-size: 16px;
    }
  }

  @media (min-width: 768px) {
    .select-wrap {
      font-size: 18px;
    }

    .select,
    .select-custom {
      height: 60px;
    }
  }


  // === select-custom options ===

  .select-custom__options {
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
    width: 100%;
    padding: 20px 0;
    line-height: 28px;
    border: 1px solid #6f6f6f;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 4px #e9e1f8;
  }

  .select-custom.isActive .select-custom__options {
    display: block;
  }

  // === select-custom option ===

  .select-custom__option {
    position: relative;
    padding: 5px 5px 5px 30px;
    cursor: pointer;
  }

  .select-custom__option.isHover {
    background-color: #5CDEDA;
    /*contrast AA */
    color: #fff;
  }

  .select-custom__option:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
  }

  .select-custom__option.isActive::before {
    // content: "✓";
    // position: absolute;
    // left: 5px;
  }

}




// ==== select2 ==== 

@if 1 {
  .select2-wrap {
    position: relative;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .select2-wrap:after,
  .select2-custom {
    z-index: 2;
  }

  // arrow
  .select2-wrap:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    border: 5px solid transparent;
    border-top-color: #B8B9D0;
    // transition: .2s ease 0s;
    pointer-events: none;
  }

  .select2-wrap.focus:after,
  .select2-wrap.isActive:after,
  .select2-wrap.oupen:after {
    border-top-color: $color-hover;
  }

  .select2-wrap.isActive:after,
  .select2-wrap.oupen:after {
    transform: rotate(180deg) translateY(5px);
  }


  .select2,
  .select2-custom {
    width: 100%;
    height: 50px;
  }

  .select2-custom {
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
  }

  .select2,
  .select2-custom__btn {
    padding: 0px 20px 0px 30px;
    border: 2px solid transparent;
    border-radius: 30px;
  }

  .select2 {
    position: relative;
    display: block;
    background-color: #fff;
    appearance: none;
  }

  .select2-custom__btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
  }

  .select2-custom__btn::before,
  .select2-custom__option::before {
    margin-right: 10px;
  }

  .select2:focus,
  .select2-custom.isActive .select2-custom__btn {
    background-color: #fff;
    border-color: $color-hover;
    transition: .2s ease 0s;
  }

  .select2:invalid,
  .select2-custom .invalid {
    color: #B8B9D0;
  }

  .select2 option {
    color: #2A2929;
  }

  // ===== state =====

  @media (pointer: fine),
  (min-width:0\0) {
    .select2-wrap:hover:after {
      border-top-color: $color-hover;
    }

    .select2:hover,
    .select2-wrap:hover .select2-custom__btn {
      background-color: #fff;
      border-color: $color-hover;
      transition: .2s ease 0s;
    }

    .select2-custom__option:hover {
      background-color: $color-hover;
      color: #fff;
      transition: .2s ease 0s;
    }

    .select2-custom {
      display: block;
    }

    .select2:focus+.select2-custom {
      display: none;
    }
  }


  @media (min-width: 480px) {
    .select2-wrap {
      font-size: 16px;
    }
  }

  @media (min-width: 768px) {
    .select2-wrap {
      font-size: 18px;
    }

    .select2,
    .select2-custom {
      height: 60px;
    }
  }


  // === select2-custom optionS ===

  .select2-custom__options {
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 0;
    display: none;
    width: 100%;
    padding: 20px 0;
    line-height: 28px;
    // border: 1px solid #6f6f6f;
    border-radius: 5px;
    background-color: #fff;
  }

  .select2-custom.isActive .select2-custom__options {
    display: block;
  }


  // === select2-custom option ===

  .select2-custom__option {
    position: relative;
    padding: 5px 5px 5px 30px;
    cursor: pointer;
  }

  // залипает как native
  .select2-custom__option.isHover {
    // background-color: #5CDEDA;
    /*contrast AA */
    // color: #fff;
  }

  .select2-custom__option.isActive {
    background-color: $color-hover;
    color: #fff;
  }

  .select-custom__option.isActive::before {
    // content: "✓";
    // position: absolute;
    // left: 5px;
  }

  .select2-custom__option:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // border-bottom: 1px solid #d3d3d3;
  }











  @media (min-width: 1200px) {
    .select2-wrap:after {
      display: none;
    }

    .select2,
    .select2-custom__btn {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .select2-custom__btn {
      opacity: 0;
    }

    .select2-custom {
      position: relative;
      height: auto;
    }

    .select2-custom__options {
      position: static;
      display: block;
      padding: 0;
      background-color: #F5F5F8;
    }

    .select2-custom__option {
      padding: 15px 5px 15px 30px;
      border-radius: 30px;
    }

    .select2-custom__option.isActive {
      background-image: linear-gradient(104.98deg, #6266E0 0%, #7579FF 100%);
      box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #E9E9EC;
    }

    .select2-custom__option.isActive::before {
      color: #fff;
    }


    @media (pointer: fine),
    (min-width:0\0) {
      .select2-custom__option:not(.isActive):hover {
        color: $color-hover;
        background-color: transparent;
      }
    }

    .select2-custom__option:not(.isActive):active {
      color: $color-active;
    }
  }
}


/* ===== category ===== */

@if 1 {
  .category {
    padding: 50px 0px 0px 0px;
  }
  .category__row {
    margin: 0 -5px;
  }

  .category__col {
    padding: 0 5px;
    margin-bottom: 25px;
  }

  .category__item {
    display: flex;
    flex-direction: column;
    // align-items: center;
    height: 100%;
    box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #E9E9EC;
    border-radius: 5px;
  }

  .category-item__top {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 15px 15px 15px;
    background: linear-gradient(109.5deg, #EEEEF1 6.26%, #FFFFFF 93.74%);

  }

  .category__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .category__icon img {
    margin-top: -15px;
    margin-right: 10px;
  }

  .category__icon img:last-child {
    margin-right: 0px;
  }


  .category-item__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .category__title {
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    // text-align: center;
    text-transform: uppercase;
  }

  .category__rating {
    font-size: 14px;
  }

  @media (min-width: 480px) {
    .category__rating {
      justify-content: center;
    }

    .category-item__row {
      flex-grow: 1;
      flex-direction: column;
      align-items:center;
    }
  }


  .rating-show {
    display: flex;
  }

  .rating-show span {
    color: #D3D4FD;
    line-height: 1;
    // letter-spacing: 10px;
  }

  .rating-show span.active {
    color: #6D71F9;
  }

  .rating-show > span:before {
    content: "★";
    display: block;
  }


  .category__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
  }
  .category__img img {
  }

  .category__link {
    flex-shrink: 0;
    display: block;
    padding: 6px 15px;
    color: #B8B9D0;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: 480px) {
    .category__img {
      flex-grow: 1;
    }
  }


}




// ===== rating =====

@if 1 {
  .rating {
    text-align: center;
  }

  .rating__group {
    display: inline-flex;
  }

  .rating__label:first-of-type {
    // display: none;
  }

  .rating__input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    clip: rect(0 0 0 0);
  }

  .rating__label {
    cursor: pointer;
  }

  .rating__label:before {
    content: "★";
    display: block;
    font-size: 38px;
    // letter-spacing: 10px;
    line-height: 1;
    color: #6D71F9;
    transition: .2s ease 0s;
  }

  .rating__input:checked+.rating__label~.rating__label:before {
    color: #D3D4FD;
  }

  .rating__group:hover .rating__label[for]:before {
    color: #6D71F9;
  }

  .rating__group:hover .rating__label:hover~.rating__label:before {
    color: #D3D4FD;
  }
}








// ===== form =====

@if 1 {
  .check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .check__label {
    position: relative;
    display: block;
    padding-left: 34px;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
  }

  .check__label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: rgba(#fff, .1);
    box-shadow: -12px -12px 24px #7D82FF, 12px 12px 24px #5D60D4;
  }

  .check__input:checked+.check__label:before {
    background: center/100%;
    background-image: url(../icon.svg#icon-check), linear-gradient(180deg, #5CDEDA 0%, #2FFF6A 100%);
  }

  @media (pointer: fine),
  (min-width:0\0) {
    .check__label:hover::before {
      border: 2px solid #5CDEDA;
    }
  }
}






@import "footer";